*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
    color: $wh;
    scroll-behavior: smooth;
}

main {
    min-width: 100%;
    min-height: 100%;
    &::after {
        content: "";
        display: block;
    }
}

#par{
    background-image: url("../images/mobile/sky.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
