.btn {
    padding-top: 10vh;
    transition: 0.5s;

    &__cont {
        border: none;
        background-color: #d9d9d9dc;
        width: 100%;
        padding: 5px 10px;
        border-radius: 20px;
    }
    &__text,
    &__drop {
        transition: 1s;
    }
    &__text {
        font-weight: 850;
    }
}
