.paral {
  overflow: hidden;

  &__logo {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;

    #logo {
      position: fixed;
      width: 300px;
      top: 30vh;
      .bottom {
        animation: toBottom 1s 1s linear forwards;
      }
    }
  }
  &__city {
    position: relative;
    padding-top: 100vh;
    &--layer {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 30;
      &--1 {
        background-image: url('../images/mobile/bat1.png');
        height: 200%;
        width: 100%;
        background-size: cover;
      }
      &--2 {
        background-image: url('../images/mobile/bat3.png');
        height: 190%;
        width: 100%;
        background-size: cover;
        z-index: 10;
      }
    }
  }
}

.espace {
  height: 100vh;
}
