.paral {
  overflow: hidden;

  &__logo {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    &--btn {
      display: flex;
      // flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      top: 55vh;
      z-index: 40;
      width: 250px;
      margin: auto;
      a {
        background-color: #597098;
        border-radius: 60px;
        padding: 10px;
        width: fit-content;
        text-align: center;
        margin-bottom: 15px;
        font-size: 30px;
        &:hover {
          background-color: #999982;
          transition: 0.5s;
        }
      }
      #btnBox,
      #btnMerch {
        width: 80px;
      }
    }
    #logo {
      position: fixed;
      width: 300px;
      top: 35vh;
      .bottom {
        animation: toBottom 1s 1s linear forwards;
      }
    }
  }
  &__city {
    position: relative;
    padding-top: 100vh;
    &--layer {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 50;
      &--1 {
        background-image: url('../images/mobile/bat1.png');
        height: 220%;
        width: 100%;
        background-size: cover;
        object-fit: cover;
      }
      &--2 {
        background-image: url('../images/mobile/bat3.png');
        height: 200%;
        width: 100%;
        background-size: cover;
        z-index: 40;
      }
    }
  }
}

.espace {
  height: 100vh;
}
