@import './variables';
@import './mixins';
@import './base';
@import './anim';
// @import "./parallax";
@import './banner';
@import './button';
// @import "./parallaxD";
@import './pictures';
// @import "./footer";
@import './parallax2';
@import './carousel';

@import '~bootstrap/scss/bootstrap';
.footer-menu {
  padding-top: 6%;
  padding-bottom: 6%;
}
.footer {
  padding-bottom: 2%;
}
.videoClick {
  mix-blend-mode: difference;
  z-index: 100;
}

@font-face {
  font-family: 'Mango';
  src: url('./MangoGrotesque-Bold.otf') format(opentype);
}
